body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.category-btn {
    padding: 12px 25px;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}
.category-btn:hover {
    background: #555;
}

.gallery-section {
    display: none;
}

.back-btn {
    margin-bottom: 15px;
    padding: 8px 15px;
    background: #222;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery img {
    width: 280px;
    height: auto;
    border-radius: 10px;
}

/* Imagen expandida */
img.expanded {
    width: 100%;
    max-width: 900px; /* en PC no será gigante */
    display: block;
    margin: 20px auto 10px;
    border-radius: 10px;
}

/* Botón cerrar */
.close-image-btn {
    display: block;
    width: fit-content;
    margin: 0 auto 25px;
    padding: 10px 25px;
    background: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}